.marquee {
    overflow: hidden;
    white-space: nowrap;
    background: white;
    padding: 1rem 0;
  }
  
  .marquee-content {
    display: flex;
    animation: scrollLeft 30s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }